<template>
    <div class="flash alert" :class="alertType" v-if="show">
        <button type="button" class="close" v-on:click="show = false">&times;</button>
        {{ message }}
    </div>
</template>

<script>
    export default {
        props: {
            'type': {
                'default': 'info'
            },
            'message': {
                'default': ''
            }
        },

        data () {
            return {
                show: true
            }
        },

        computed: {
            alertType () {
                return 'alert-' + this.type
            }
        }
    }
</script>

<style>
    .flash {
        position: fixed;
        bottom: 2em;
        right: 2em;
    }
</style>