<template>
    <form action="" method="GET" class="form-horizontal">

        <div class="form-group">
            <label for="count" class="col-lg-2 control-label">Медиа на странице</label>
            <div class="col-lg-10">
                <select name="count" id="count" class="form-control" v-model="count">
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="0">Все</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="group" class="col-lg-2 control-label">Группа</label>
            <div class="col-lg-10">
                <select name="group" id="group" class="form-control" v-model="group">
                    <option value="0">Все группы</option>
                    <option v-for="group in groups" v-bind:value="group.id">{{ group.name }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Фильтр по статусу</label>
            <div class="col-lg-10">
                <div class="btn-group">
                    <button v-on:click="disableFilters()":class="f.none ? 'btn-primary' : 'btn-default'" type="button" class="btn">Без фильтра</button>
                    <button v-on:click="changeStatus('new')" :class="f.new ? 'btn-primary' : 'btn-default'" type="button" class="btn">Новые</button>
                    <button v-on:click="changeStatus('approved')" :class="f.approved ? 'btn-primary' : 'btn-default'" type="button" class="btn">Одобренные</button>
                    <button v-on:click="changeStatus('blocked')" :class="f.blocked ? 'btn-primary' : 'btn-default'" type="button" class="btn">Заблокированные</button>
                    <button v-on:click="changeStatus('published')" :class="f.published ? 'btn-primary' : 'btn-default'" type="button" class="btn">Опубликованные</button>
                </div>
            </div>
        </div>

        <div class="col-lg-offset-2">
            <button v-on:click.stop.prevent="submit()" class="btn btn-success">Применить</button>
        </div>

    </form>
</template>

<script>
    export default {
        props: {
            'count': {},
            'groups': {},
            'currentGroup': {},
            'filters': {}
        },

        computed: {
            getFilters () {
                return this.filters.split('|')
            }
        },

        mounted () {
            // Если задана текущая группа
            if (this.currentGroup > 0) {
                this.group = this.currentGroup
            }

            // Если заданы фильтры
            if (this.filters != '') {
                this.f.none = false
                let f = this.filters.split('|')
                for (let i in f) {
                    this.f[f[i]] = true
                }
            }


        },

        methods: {
            changeStatus(status) {
                this.f[status] = !this.f[status]
                this.f.none = false
            },

            disableFilters() {
                this.f.none = true
                this.f.new = false
                this.f.approved = false
                this.f.blocked = false
                this.f.published = false
            },

            submit() {
                let f = '';

                if (!this.f.none) {
                    let filters = [];
                    if (this.f.new) { filters.push('new') }
                    if (this.f.approved) { filters.push('approved') }
                    if (this.f.blocked) { filters.push('blocked') }
                    if (this.f.published) { filters.push('published') }
                    f = filters.join('|')
                }

                window.document.location.href = window.document.location.origin +
                    window.document.location.pathname +
                    '?count=' + this.count + '&group=' + this.group + '&filters=' + f
            }
        },

        data () {
            return {
                group: 0,
                f: {
                    'none': true,
                    'new': false,
                    'approved': false,
                    'blocked': false,
                    'published': false
                }
            }
        }
    }
</script>